body{
    min-width: 100%;
}

.name{
    color: darkblue;
    font-weight: bold;
}

.address{
    position: relative;
    left: 1050px;
    bottom: 120px;
}

.a1{
    color: blue;
    position: relative;
    right: 55px;
}

.a2{
    position: relative;
    left: 15px;
    bottom: 35px;
}

.ph{
    position: relative;
    left: 1350px;
    bottom: 150px;
    text-decoration: unset;
    color: black;
}

.ph b{
    color: black;
}

.mail{
    position: relative;
    left: 1275px;
    bottom: 120px;
    text-decoration: none;
}